<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스트 상세</title>
    <link rel="stylesheet" href="/static/css/read_post.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function edit_post(post_id){
            location.href = `${post_id}/edit`;
        }
        function delete_post(post_id){
            if (confirm('정말 삭제하시겠습니까?'))
                fetch(`${post_id}/delete`)
                .then(response => { if (response.ok ) location.href="/"});
        }
    </script>
</head>
<body>
    {% include 'navigation.html' %}
    <main>
        <article class="post-detail">
            <h2>{{ post.title }}</h2>
            <p>{{ post.created_at }}</p>
            <p>작성자: {{ username }}</p>
            <p>{{ post.content | linebreaks }}</p>
            <div class="post-actions">
                <button class="edit-btn" onclick="edit_post({{ post.id }})">수정</button>
                <button class="edit-btn" onclick="delete_post({{ post.id }})">삭제</button>
            </div>
        </article>
    </main>
    {% include 'footer.html' %}
</body>
</html>
