{% extends "header.html" %}

{% block content %}
    <div class="list-container">
        {% if images %}
            {% for image in images %}
                <div class="image-item">
                    <a href="{% url 'review_detail' image.name %}">
                        <div class="image-overlay">
                            <img src="{{ image_url_prefix }}{{ image.image }}" alt="{{ image.name }}">
                            <div class="image-name">{{ image.name }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-results">
                <p>검색 결과가 없습니다.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
